/* for font import */
.work-sans-normal {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
 
}
/*Header start */
/* shared styles */
.secondary-bg{
    background-color: #FFF8F3
;
}
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.btn-primary{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    padding:18px 35px;
    font-size: 20px ;
}

.header{
    background-image:url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right ;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #474747;
}
.section-description{
    font-size: 18px;
    color: #474747;
}

/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style:none ;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}

/* Banner styles start */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}
.banner-content{
    max-width: 580px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}

.banner-title{
    font-weight: bold;
    font-size: 85px;
    }
.banner-profie-pic{
    width:580px;
}
/* Main Styles */
main{
    max-width:1140px ;
    margin: auto;
}

/* About Styles */
.about{
    border-radius: 10px;
    padding: 130px 156px;
    text-align: center;
    margin-top: 130px;
}

.about-me {
background-color: white;
/* padding: 131px 156px; */
border: 1px solid black;
}

.about-me .section-title {
    padding: 0px;
    margin: 0px;
    color:#181818;
    font-size: 35px;
    font-weight: bold;
    font-family: sans-serif;
}

.about-me .section-title .section-description{
    font-size: 18px;
    font-weight: normal;
    font-family: sans-serif;
    color: #757575;
    text-align: center;
}
.about-items{
    display: flex;
    justify-content: space-around;  
    padding-bottom: 8px; 
}

.about-items .about-item .item-title {
    color: #757575;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 0px;
    padding-bottom: px;
}
.about-items .about-item .item-description {
    margin-top: 8px;
    margin-bottom: 0px;
    color: #474747;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 0px;
}
/* Section What i do styles */
.section-whatido {
    margin: 130px;
    text-align: center;
}

.section-whatido .what-i-do h3{
    font-size: 35px;
    font-family: sans-serif;
    font-weight: bold;
    color: #181818;
    padding: 0px;
}
.section-whatido p{
    font-size: 18px;
    font-weight: normal;
    font-family: sans-serif;
    color: #757575;
    margin-top: 8px;
    padding-top: 0px;
}

/* Sklills Section */
.skill {
    display: flex;
    border-radius: 5px;
    background-color: white;
    justify-content: space-around;
    gap: 30px;
}
.skill .skill-item {
    padding: 20px;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 25px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.skill .skill-item h3{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #181818;
}
.skill .skill-item p{
    font-family: sans-serif;
    font-size: 16px;
    /* font-weight: 300; */
    color: #757575;
}
/* A summary of My Resume Styles */
.resume-heading {
font-family: sans-serif;
font-size: 30px;
font-weight: bold;
text-align: center;
color: #181818;
margin: 100px;
}


.resume {
    display: flex;
    justify-content: space-around;
    gap: 35px;
    align-items: center;
}
.resume .education .title h3{
    font-weight: bold;
    font-family: sans-serif;
    font-size: 30px;
    color: #474747;
    padding-top:  0px;
    margin bottom: 30px;
}

.resume .education .eduction-title h4{
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    padding-bottom: 10px;
    margin: 10px 0;
}
.resume .education .eduction-title h5{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #474747;
    padding: 0px;
    margin: 10px 0;
}
.resume .education .eduction-title p{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #474747;
    padding-bottom: 15px;
    margin: 10px 0;
}
/* Experience Section */

.resume .experience .title h3{
    font-weight: bold;
    font-family: sans-serif;
    font-size: 30px;
    color: #474747;
    padding-top:  0px;
    margin bottom: 30px;
}

.resume .experience .experience-title h4{
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    padding-bottom: 10px;
    margin: 10px 0;
}
.resume .experience .experience-title h5{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #474747;
    padding: 0px;
    margin: 10px 0;
}
.resume .experience .experience-title p{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #474747;
    padding-bottom: 15px;
    margin: 10px 0;
}

.btn-download{
    text-align: center;

}
.btn-download .cv-download {
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    padding:18px 35px;
    font-size: 20px ;
    align-items: center;
}

/* footer start */