/* for font import */
.work-sans-normal {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
 
}
/*Header start */
/* shared styles */
.text-primary{
    color: #FD6E0A;
}


/* Nav styles */
nav{
    display: flex;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}


/* main Start */







/* footer start */